for section in docs
  .row
    .span12
      a.target(name='/' + section.machineName + '/')
      h2= section.name
    .span12
      for method in section.methods
        .row
          a.target(name='/' + section.machineName + '/' + method.machineName + '/')
          .span12
            h3.doc-row= method.name
          .span4
            if (method._signature)
              pre= method._signature
            if (method._version)
              div(style="text-align:right") Available in version
                span.label= method._version
          .span8
            if (method.body)
              div= method.body