extends html

block styles
  link(rel="stylesheet", href="../css/style.css")
  title Moment.js Documentation

block scripts
  script(src="../js/home.min.js")

block content
  .row
    .span8
      .hero-unit
        h1 Moment.js Documentation

    #download-btns.span4
      h3 Get the current version 
        span.label.lebel-info= version
      pre npm install moment
      p
        a.btn.btn-success.btn-large(href="https://raw.github.com/timrwood/moment/" + version + "/min/moment.min.js") 
          i.icon-download-alt.icon-white
          strong  Production 
          span.filesize= '(' + minsize + ' min &amp; gzip)'
      p
        a.btn(href="https://raw.github.com/timrwood/moment/" + version + "/moment.js") 
          i.icon-download-alt
          strong  Development 
          span.filesize= '(full ' + srcsize + ' source)'

  #subnav.subnav.subnav-fixed
    ul.nav.nav-pills
      for section in docs
        li.dropdown
          a.dropdown-toggle(data-toggle='dropdown')
            if (section._icon)
              i(class='icon-' + section._icon)
            span= section.name
            b.caret
          ul.dropdown-menu
            for method in section.methods
              li
                a(href='#/' + section.machineName + '/' + method.machineName + '/')= method.name

  #docs(data-spy="scroll")
    for section in docs
      .row
        .span12
          a.target(name='/' + section.machineName + '/')
          h2= section.name
        .span12
          for method in section.methods
            .row
              a.target(name='/' + section.machineName + '/' + method.machineName + '/')
              .span12
                h3.doc-row= method.name
              .span4
                if (method._signature)
                  pre= method._signature
                if (method._version)
                  div(style="text-align:right") Available in version 
                    span.label= method._version
                else
                  p &nbsp;
              .span8!= method.body