---
title   : Home
layout  : moment-base.hbs
order   : 0
scripts :
  - core-home
---

<header class="hero hero-moment">
	<div class="centered">
                <div class="global-warning">
                    Moment version 2.8.1 is released, docs will be updated
                    shortly. Version 2.8.0 was pulled out, please consider
                    upgrading to 2.8.1 ASAP.
                </div>
		<div class="hero-circle">
			<div class="hero-face">
				<div id="hour" class="hero-hour"></div>
				<div id="minute" class="hero-minute"></div>
				<div id="second" class="hero-second"></div>
			</div>
		</div>
		<div class="hero-title">
			<h1>Moment.js <span>{{ size.moment_version }}</span></h1>
			<h2>Parse, validate, manipulate, and display dates in javascript.</h2>
		</div>
	</div>
</header>


<div class="builds">
	<div class="builds-download">
		<h3>Download</h3>
		<a class="builds-button builds-button-source" href="/downloads/moment.js">
			moment.js
		</a>
		<a class="builds-button builds-button-gzipped" href="/downloads/moment.min.js">
			moment.min.js
			<span class="filesize">{{toKb size.moment_min.gzip }}</span>
		</a>
		<a class="builds-button builds-button-source" href="/downloads/moment-with-langs.js">
			moment+langs.js
		</a>
		<a class="builds-button builds-button-gzipped" href="/downloads/moment-with-langs.min.js">
			moment+langs.min.js
			<span class="filesize">{{toKb size.moment_with_langs_min.gzip }}</span>
		</a>
	</div>
	<div class="builds-packages">
		<h3>Install</h3>
		<pre><code>bower install moment --save <span class="comment"># bower</span>
npm install moment --save   <span class="comment"># npm</span>
Install-Package Moment.js   <span class="comment"># NuGet</span></code></pre>
	</div>
</div>

<div class="page-moment-index">

{{#markdown}}
### Format Dates

```js
moment().format('MMMM Do YYYY, h:mm:ss a');
moment().format('dddd');
moment().format("MMM Do YY");
moment().format('YYYY [escaped] YYYY');
moment().format();
```

### Relative Time

```js
moment("20111031", "YYYYMMDD").fromNow();
moment("20120620", "YYYYMMDD").fromNow();
moment().startOf('day').fromNow();
moment().endOf('day').fromNow();
moment().startOf('hour').fromNow();
```

### Calendar Time

```js
moment().subtract('days', 10).calendar();
moment().subtract('days', 6).calendar();
moment().subtract('days', 3).calendar();
moment().subtract('days', 1).calendar();
moment().calendar();
moment().add('days', 1).calendar();
moment().add('days', 3).calendar();
moment().add('days', 10).calendar();
```

### Multiple Language Support

```js
moment().format('L');
moment().format('l');
moment().format('LL');
moment().format('ll');
moment().format('LLL');
moment().format('lll');
moment().format('LLLL');
moment().format('llll');
```

{{/markdown}}

<div class="langs">
	{{#each lang }}
		<div class="button {{#is abbr "en" }}active{{/is}}" data-lang="{{ abbr }}">
			{{ name }}
		</div>
	{{/each}}
</div>

</div>
